.header__lang-link {
  margin: 0 0 0 18px;
  text-decoration: none;
  color: white;
  line-height: 1.17;
  font-size: 24px;
  font-weight: normal;
  transition: .5s linear;
}

.header__lang-link:first-of-type {
  margin: 0;
  text-decoration: underline;
}

.header__lang-link:hover {
  opacity: 0.8;
}
