.place__title {
  grid-area: title;
  margin: 0;
  line-height: 1.06;
  font-size: 72px;
  font-weight: 900;
  position: relative;
  max-width: 460px;
  vertical-align: bottom;
}

@media screen and (max-width: 1279px) {
  .place__title {
    max-width: 440px;
  }
}

@media screen and (max-width: 1023px) {
  .place__title {
    font-size: 42px;
    line-height: 1.1;
    max-width: 340px;
  }
}

@media screen and (max-width: 767px) {
  .place__title {
    line-height: 1.09;
    font-size: 32px;
    margin: 0 auto 0 auto;
    max-width: 288px;
  }
}
