.place__title {
  grid-area: title;
  margin: 0;
  line-height: 1.06;
  font-size: 72px;
  font-weight: bold;
  position: relative;
  width: 100%;
  max-width: 460px;
  height: fit-content;
  word-wrap: break-word;
  vertical-align: bottom;
  word-wrap: break-word;
}
