.photo-grid {
  margin: 92px auto 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
  width: 100%;
  max-width: 1184px;
}

@media screen and (max-width: 1279px) {
  .photo-grid {
    max-width: 928px;
    gap: 14px;
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid {
    margin-top: 88px;
    max-width: 720px;
    grid-template-columns: repeat(2, 352px);
    gap: 16px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    column-gap: 0;
  }
}
