.cover {
  margin: 92px 48px 0 48px;
  min-height: 740px;
  width: 100%;
  max-width: 1184px;
}

@media screen and (min-width: 1440px) {
  .cover {
    margin: 92px 128px 0 128px;
  }
}

@media screen and (max-width: 1279px) {
  .cover {
    min-height: 640px;
    max-width: 1024px;
    margin: 92px 0 0 0;
  }
}

@media screen and (max-width: 1023px) {
  .cover {
    margin: 88px 0 0 0;
    min-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    margin-top: 64px;
    min-height: 272px;
    max-width: 375px;
  }
}

@media screen and (max-width: 374px) {
  .cover {
    min-height: 216px;
    min-width: 320px;
  }
}
