.place__description {
  grid-area: description;
  display: block;
  height: fit-content;
  max-width: 484px;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .place__description {
    margin: 0 0.8vw 0 0.8vw;
  }
}
