@media screen and (max-width: 1280px) {
  .page {
    max-width: 1024px;
  }


  .lead {
    margin: 0 48px 0 48px;
  }

  .lead__title {
    padding-top: 48px;
  }


  .description {
    margin: 92px 48px 0 48px;
  }


  .photo-grid {
    margin: 92px 48px 0 48px;
    gap: 14px;
  }

  .photo-grid__item {
    height: 225px;
  }


  .places {
    margin: 92px 48px 0 48px;
    row-gap: 48px;
    column-gap: 40px;
  }

  .place__title {
    width: 440px;
  }

  .place__image {
    width: 100%;
  }

  .cover {
    height: 640px;
  }

  .cover__title {
    margin-top: 195px;
  }
}
