@media screen and (max-width: 1023px) {
  .page {
    max-width: 768px;
  }


  .header {
    padding: 28px 1.25vw 0 1.25vw;
  }


  .lead {
    margin: 0;
  }

  .lead__title {
    word-wrap: break-word;
  }

  .lead__caption {
    margin-left: 1.25vw;
  }


  .description {
    margin: 88px 1.25vw 0 1.25vw;
    max-width: 720px;
  }


  .photo-grid {
    margin: 88px 1.25vw 0 1.25vw;
    gap: 16px;
  }

  .photo-grid__item {
    height: 264px;
  }


  .line-break::before {
    content: "\A";
    white-space: pre;
  }


  .places {
    margin: 88px 1.25vw 0 1.25vw;
  }

  .place {
    column-gap: 28px;
  }

  .place__title {
    font-size: 42px;
    line-height: 1.1;
    max-width: 340px;
    width: 100%;
  }

  .place__text {
    font-size: 16px;
  }


  .cover {
    margin: 88px 0 0 0;
    height: 480px;
  }

  .cover__title {
    margin-top: 115px;
    word-wrap: break-word;
  }


  .footer {
    padding: 88px 1.25vw 2.47vh 1.25vw;
  }
}
