@media screen and (max-width: 1279px) {
  .page {
    max-width: 1024px;
  }


  .lead {
    margin: 0 2.5vw 0 2.5vw;
  }

  .lead__title {
    padding-top: 48px;
  }


  .description {
    margin: 92px 2.5vw 0 2.5vw;
  }


  .photo-grid {
    margin: 92px 2.5vw 0 2.5vw;
    gap: 14px;
  }

  .photo-grid__item {
    height: 225px;
  }


  .places {
    margin: 92px 2.5vw 0 2.5vw;
  }

  .place {
    column-gap: 32px;
  }

  .place__title {
    width: 440px;
  }

  .cover {
    height: 640px;
  }

  .cover__title {
    margin-top: 195px;
  }
}
